.backdrop {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    background-color: #ffebd7;
}

.navBox {
    display: flex;
    padding: 24px 24px 28px;
    gap: 8px;
}

.navList {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: end;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    text-align: end;
    color: #1c1c1c;
}

.navList>li {
    font-size: 24px;
}

.close {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    stroke: #1c1c1c;
}