.faq {
    margin: 0 auto;
}

.faqContainer {
    padding: 40px 16px;
}

.faqTitle {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    text-align: center;
    color: #1c1c1c;
}

.faqList {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.faqListItem {
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.4);
    background-color: #fff;
    border-radius: 24px;
    width: 288px;
}

.faqListItem:nth-child(1) .boxOne {
    background-color: #ffebc3;
}

.faqListItem:nth-child(2) .boxOne {
    background-color: #ffe7b6;
}

.faqListItem:nth-child(3) .boxOne {
    background-color: #ffe2a6;
}

.faqListItem:nth-child(4) .boxOne {
    background-color: #ffde9b;
}

.faqListItem:nth-child(5) .boxOne {
    background-color: #ffda8b;
}


.boxOne {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 18px;
    border-radius: 24px;
    width: 288px;
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.4);
}

.boxTwo {
    padding: 4px 18px;
}

.boxOne>svg {
    fill: #fff;
    stroke: #fff;
    cursor: pointer;
}

.paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    color: #1c1c1c;
}

@media screen and (min-width:1200px) {
    .faqContainer {
        padding: 40px 80px 80px;
        width: 1040px;
    }

    .faqListItem {
        width: 1040px;
    }

    .boxOne,
    .boxTwo {
        width: 100%;
        padding: 16px 24px;
    }

    .boxOne>svg,
    .boxTwo>svg {
        width: 48px;
        height: 48px;
    }

    .faqTitle {
        margin-bottom: 64px;
        font-size: 40px;
        line-height: 0.75;
    }

    .paragraph {
        font-size: 24px;
        line-height: 1.25;
    }

}