.modal {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.modalContainer {
    position: fixed;
    left: 0;
    top: 188px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    height: 100%;
    background-color: #ffebd7;
    padding: 40px 16px 28px;
}

.modalContainer>h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    color: #1c1c1c;
}

.modalContainer>p {
    width: 289px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    color: #1c1c1c;
}

.modalContainer>div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.btn {
    border: 5px solid #fffeff;
    border-radius: 18px;
    width: 289px;
    height: 48px;
    box-shadow: 0 5px 2px 0 rgba(0, 0, 0, 0.35);
    background-color: #fcb825;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 14px 0;
    font-weight: 800;
    font-size: 16px;
    line-height: 1.25;
    color: #fff;
    text-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.4);
}

.btn2 {
    border: 5px solid #fcb825;
    border-radius: 18px;
    width: 289px;
    height: 48px;
    box-shadow: 0 5px 2px 0 rgba(0, 0, 0, 0.35);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 0;
    font-weight: 800;
    font-size: 16px;
    line-height: 1.25;
    color: #1c1c1c;
    text-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.4);
}

@media screen and (min-width:1200px) {
    .modalContainer {
        height: 100%;
        top: 330px;
        gap: 40px;
    }

    .modalContainer>h2 {
        font-size: 40px;
        line-height: 0.75;
    }

    .modalContainer>p {
        font-size: 20px;
        line-height: 1.5;
        width: 862px;
    }

    .modalContainer>div {
        flex-direction: row;
        gap: 24px;
    }

    .btn,
    .btn2 {
        width: 330px;
        height: 60px;
        font-size: 20px;
        line-height: 1.5;
    }
}