.privacy {
    margin: 0 auto;
}

.privacyContainer {
    padding: 40px 16px;
    display: flex;
    flex-direction: column;
    width: 320px;
    gap: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    color: #1c1c1c;
}

.desk {
    display: none;
}

.button {
    display: flex;
    align-items: center;
    width: 120px;
    padding: 0;
    gap: 6px;
}

.privacyContainer>ul {
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style-position: inside;
}

@media screen and (min-width:1200px) {
    .privacyContainer {
        padding: 80px 80px;
        width: 1040px;
        font-size: 20px;
        line-height: 1.5;
    }

    .mob {
        display: none;
    }

    .desk {
        display: block;
    }

    .button {
        gap: 12px;
        font-size: 20px;
        line-height: 0.8;
        width: 166px;
        margin-bottom: 68px;
    }

    .privacyContainer>h1 {
        margin-bottom: 28px;
    }
}