*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-dm-sans), sans-serif;
  color: #000;
  background-color: #ffebd7;
  line-height: 1.5;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

main {
  flex-grow: 1;
  background-color: #ffebd7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-nunito), sans-serif;
  margin: 0;
}

p {
  font-family: var(--font-dm-sans), sans-serif;
  margin: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

input {
  font-family: inherit;
}