.contact {
    margin: 0 auto;
}

.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 16px 0;
}

.contactTitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    text-align: center;
    color: #1c1c1c;
    margin-bottom: 24px;
}

.contactMob {
    width: 288px;
}

.contactDesk {
    display: none;
}

.contactText1,
.contactText2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #1c1c1c;
}

.contactText2 {
    margin-bottom: 40px;
}

.contactBox {
    display: flex;
}

.contactBox>div {
    width: 160px;
    margin-left: -24px;
    padding-top: 12px;
}

.contactText {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #1c1c1c;
}

.contactWraper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 24px;
}

@media screen and (min-width:1200px) {

    .contactTitle {
        margin-bottom: 32px;
        font-size: 40px;
        line-height: 0.75;
    }

    .contactMob {
        display: none;
    }

    .contactDesk {
        display: flex;
        gap: 112px;
    }

    .contactDesk>div {
        padding-top: 88px;
        text-align: center;
        width: 419px;
    }

    .contactText {
        font-size: 24px;
        line-height: 1.25;
    }

    .contactWraper {
        gap: 32px;
        margin: 0;
    }

    .image {
        width: 295px;
        height: 481px;
    }
}